body {
    background-color: #f0f0f0;
    position: center;
    margin-left: 5%;
    background-image: url("https://cdn.nimbusthemes.com/2017/09/09233328/Free-Nature-Backgrounds-Sunset-over-the-forest-by-Kaboompics.jpg"); /* Kuva löytyi tältä sivulta: https://www.nimbusthemes.com/15-of-the-very-best-free-nature-backgrounds-for-use-on-your-website/ */
}

#nav {
    background-color: lightskyblue;
    width: 90%;
    border: 5px solid black;
    padding: 1%;
    margin: 0%;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 1%;
    border-radius: 15px;
}

#lomake {
    text-align: center;
}

#sivu {
    display: grid;
    place-items: center;
    margin-top: 5%;
    background-color: lightskyblue;
    position: center;
    margin-left: 5%;
  }

#sivu {
    width: 90%;
    border: 5px solid black;
    padding: 1%;
    margin: 0%;
    height: 50%;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    height: 10px;
}


input[type="submit"] {
    background-color: #4266d4;
    color: white;
    border: none;
    position: center;
    margin-left: 2.5%;
    padding: 12px;
    cursor: pointer;
    height: 40px;
}


input[type="submit"]:hover {
    background-color: #3452a1;
}  

